<!DOCTYPE html>
<html>
<head>
    <title>The World - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <div id="sidebar">
        <img src="~/img/Ashraf.jpg" alt="Ashraf's funny pic" class="headshot" />
        <span id="username">Ashraf Mehdaly</span>
        <ul class="menu">
            @*Install-Package Microsoft.AspNetCore.Mvc.TagHelpers*@
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="TopSide">
            <div>
                <button id="sidebarToggleButton">Hide Sidebar</button>
            </div>
            @RenderBody()
        </div>

        <div id="footer">
            &copy;2017 The world Ltd.
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts",false)
    <script src="~/js/site.js"></script>
</body>

</html>